.hello-h1{
  margin: 200px auto 0 auto;
}
.hello-container{
  width: 60%;
  margin: 100px auto 200px auto;
  /* border: 1px solid white; */
}
.hello-content{
  display: flex;
}
.hello-direct{
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  width: 45%;
  height: 200px;
  background-color: rgba(255, 98, 59, 0.644);
  padding-top: 75px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  overflow: hidden;
}
.hello-direct p{
  margin: 0 auto;
}
.hello-direct:hover .hello-board{
  transform: translateY(0px);
}
.hello-direct:hover .hello-title{
  transform: translateY(-20px);
}
.hello-title{
  transition: 0.5s transform;
}
.hello-hidden{
  display: flex;
}
.hello-board{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border-radius: 15px;
  background-color: #f03d3d;
  transform: translateY(200px);
  transition: 0.5s all;
  cursor: pointer;
}
.hello-board:hover{
  background-color: #852121;
}
.hello-box{
  width: 100%;
  top: 150px;
  height: 500px;
  position: sticky;
  border-radius: 50px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}
.hello-img-l{
  float:left;
  width: 70%;
  height: 100%;
}
.hello-img-r{
  float:right;
  width: 70%;
  height: 100%;
}
.hello-text-l{
  float: left;
  width: 30%;
  height: 100%;
  text-align: left;
  padding: 25px;
}
.hello-text-r{
  float: right;
  width: 30%;
  height: 100%;
  text-align: left;
  padding: 20px;
}
.hello1{
  background-color: rgb(226, 74, 74);
}
.hello2{
  background-color: rgb(231, 160, 66);
}
.hello3{
  background-color: rgb(151, 230, 72);
}
.hello4{
  background-color: rgb(223, 223, 223);
  padding-top: 5%;
  margin-bottom: 180px;
}
.hello4 button{
  width: 200px;
  height: 50px;
}

.hello-container-light{
  color: white;
}
.hello-container-light .hello4{
  background-color: rgb(43, 43, 43);
}
.hello-container-light .hello1{
  background-color: rgb(155, 49, 49);
}
.hello-container-light .hello2{
  background-color: rgb(173, 119, 48);
}
.hello-container-light .hello3{
  background-color: rgb(102, 156, 49);
}
.hello-dummy{
  height:10%;
}

@media screen and (max-width: 1199px){
  .hello-container{
    width: 90%;
    margin-bottom: 250px;
  }
  .hello-box{
    height: 350px;
  }
  .hello-direct{
    padding-top: 50px;
  }
  .hello-hidden{
    flex-direction: column;
  }
  .hello-board{
    width: 80%;
    height: 40px;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
  .hello-direct p{
    font-size: 20px;
    margin-top: 15px;
  }
  .hello-box h2{
    font-size: 20px;
  }
  .hello-img-l, .hello-img-r{
    width: 50%;
  }
  .hello-text-l, .hello-text-r{
    width: 50%;
    margin-top: -20px;
  }
  .hello4 img{
    width: 200px;
  }
  .hello4 button{
    width: 100px;
    height: 30px;
  }
  .hello4 h1{
    font-size: 20px;
  }
}

@media screen and (max-width: 544px) {
  .hello-img-l, .hello-img-r{
    display: none;
  }
  .hello-text-l, .hello-text-r{
    width: 100%;
    text-align: center;
  }
  .hello4 img{
    width: 250px;
  }
}