.register-container{
  width: 100%;
  text-align: center;
}
.register-container h1{
  margin-bottom: 100px;
}
.register-container input{
  height: 30px;
  padding-left: 5px;
  box-sizing: border-box;
  box-shadow: inset 3em 3em white;
  -webkit-text-fill-color: black;
}
.register-container-light input{
  box-shadow: inset 3em 3em black;
  -webkit-text-fill-color: lightgray;
}
input:focus{
  outline: none;
}
.register-container p{
  margin-bottom: 5px;
}
.register-passwd{
  width: 370px;
  border: 1px solid gray;
}
.register-email, .register-id, .register-nickname, .code-chk{
  width: 300px;
  border: 1px solid gray;
}

.register-registerBtn{
  display: block;
  width: 300px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.valid-fail{
  font-size: 10px;
  color: red;
  margin: 0px;
}
.valid-success{
  font-size: 10px;
  color: blue;
  margin: 0px;
}
.id-chk, .nickname-chk, .email-chk, .codechk-btn{
  width: 70px;
  height: 30px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.email-box, .code-box{ 
  position: relative;
}
.code-box{
  display: none;
  width: fit-content;
  margin: auto;
}
.email-cnt{
  position: absolute;
  top: -11px;
  right: 75px;
  width: 30px;
  height: 28px;
}
.warning{
  border: 3px solid red;
}
.verified{
  border: 1px solid blue;
}

@media screen and (max-width: 1199px) {
  .register-email, .register-id, .register-nickname{
    width: 200px;
  }
  .register-passwd{
    width: 260px;
  }
  .id-chk, .nickname-chk, .email-chk, .codechk-btn{
    width: 60px;
    font-size: 10px;
  }
  .register-registerBtn{
    width: 80%;
  }
}